{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizag Steel Plant Products</title>
    <link href="{% static 'css/tailwind.min.css' %}" rel="stylesheet">
</head>
<body>
        <button class="men-btn">☰</button>
        <ul class="tt hidden">
            <li>Home</li>
            <li>About</li>
        </ul>

        <script>
            document.querySelector(".men-btn").addEventListener("click", () => {
                document.querySelector(".tt").classList.toggle("hidden");
            });
        </script>

</body>
</html>
