<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href="/CSS/try.css">
</head>
<body>
    <div class = "container">
    <h3> Forgot password </h3>
    <h4> Email or phone number </h4>
    <input type = "text" placeholder = "enter your mail id or phone number">
    <br />
    <br />
    <input type = "submit" value = "generate otp">
</div>
</body>
</html>